body {
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: .9em;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    color: #334499;
}

input {
    width: 400px;
    height: 45px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iI2NjY2NjYyI+PHBhdGggZD0iTTk1LjA0MjMyLDEwNi41NDgxOGwxNy43NzY2OSwxNy43NzY2OWMtMi43MTU1LDUuMTc5MDQgLTIuOTk1NDQsMTAuMzMwMDggLTAuMTM5OTgsMTMuMTg1NTVsMzIuNDQ1OTcsMzIuNDQ1OTdjNC4wODcyNCw0LjA4NzI0IDEyLjk4OTU4LDEuODQ3NjUgMTkuODIwMzEsLTUuMDExMDdjNi44NTg3MiwtNi44NTg3MiA5LjA5ODMxLC0xNS43MzMwNyA1LjAxMTA3LC0xOS44MjAzMWwtMzIuNDE3OTcsLTMyLjQ0NTk3Yy0yLjg4MzQ2LC0yLjg1NTQ3IC04LjAzNDUsLTIuNTc1NTIgLTEzLjIxMzU0LDAuMTExOThsLTE3Ljc3NjY5LC0xNy43NDg2OXpNNjAuOTE2NjcsMGMtMzMuNjQ5NzQsMCAtNjAuOTE2NjcsMjcuMjY2OTMgLTYwLjkxNjY3LDYwLjkxNjY3YzAsMzMuNjQ5NzQgMjcuMjY2OTMsNjAuOTE2NjcgNjAuOTE2NjcsNjAuOTE2NjdjMzMuNjQ5NzQsMCA2MC45MTY2NywtMjcuMjY2OTIgNjAuOTE2NjcsLTYwLjkxNjY3YzAsLTMzLjY0OTc0IC0yNy4yNjY5MiwtNjAuOTE2NjcgLTYwLjkxNjY3LC02MC45MTY2N3pNNjAuOTE2NjcsMTA3LjVjLTI1LjcyNzIyLDAgLTQ2LjU4MzMzLC0yMC44NTYxMiAtNDYuNTgzMzMsLTQ2LjU4MzMzYzAsLTI1LjcyNzIyIDIwLjg1NjEyLC00Ni41ODMzMyA0Ni41ODMzMywtNDYuNTgzMzNjMjUuNzI3MjIsMCA0Ni41ODMzMywyMC44NTYxMiA0Ni41ODMzMyw0Ni41ODMzM2MwLDI1LjcyNzIyIC0yMC44NTYxMiw0Ni41ODMzMyAtNDYuNTgzMzMsNDYuNTgzMzN6Ij48L3BhdGg+PC9nPjwvZz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: center;
    border-radius: 50px;
    padding-left: 40px;
    outline: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}